footer {
    padding: 20px 0; 
    background: $grey;
    box-shadow: 0 0 0 10px $grey;

    p {
        color: $light-beige;
        @include d(s) {
            text-align: center;
        }
    }

    a img {
        float: right;
        @include d(s) {
            float:none; 
            margin: 20px auto;
        }
    }
}